.news-layout {
  display: grid;
  grid-template-columns: auto 1fr;

  gap: 1.25em;
}

.latest {
  grid-column: 1 / 2;
}

.list {
  grid-column: 2 / -1;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
}

.pagination {
  grid-column: 2 / -1;

  display: flex;
  align-items: center;
  justify-content: center;
}
